<!DOCTYPE html>
<html lang="en">

<head>
    <%= require('html-loader!./layout/head-comment.html') %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
<%= require('html-loader!./layout/nav.html') %>
<%= require('html-loader!./layout/header.html') %>
<div class="page-wrap w">
    <div class="content with-nav">
        Necessitatibus esse aut neque quisquam minima sunt. Natus a magni sint quia possimus aut sapiente eos. Quia quia
        deleniti at aut eius nisi enim dolor ut. Sunt aliquid cum sit ut minus voluptates vero. Dolores voluptatem
        laudantium temporibus aut inventore doloribus error quod hic.

        Inventore ipsam magnam sint eaque culpa quibusdam dicta velit enim. Qui molestiae sunt quo omnis voluptatem.
        Nobis animi minima laudantium non suscipit quia. Facere rerum voluptas et esse vero quo debitis quo. Fuga cumque
        molestiae non. Ad voluptatem odio.

        Ut autem ut quas iusto asperiores voluptatem et culpa est. Consequuntur excepturi repellat molestiae. Incidunt
        ut est ex aut voluptas sit perspiciatis. Ex voluptas sunt deleniti rerum sunt.
    </div>
</div>
<%= require('html-loader!./layout/footer.html') %>
</body>

</html>
