
.header .logo{
    position: absolute;
    left: 50px;
    top: 34px;
    display: block;
    font-size: 36px;
    color: #c60023;
    text-decoration: none;
    font-weight: bold;
}
.header .search-con{
    padding: 40px 0 30px 250px;
}
.header .search-input{
    width: 550px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    font-size: 15px;
    border: 2px solid #c60023;
    outline: none;
}
.header .search-btn{
    position: absolute;
    width: 80px;
    height: 44px;
}

/*面包屑导航*/
.crumb{
    border-top: 2px solid #c60023;
    margin-bottom: 15px;
    height: 50px;
    line-height: 50px;
    background: #eee;
    font-size: 14px;
}