<div class="footer">
    <div class="w">
        <div class="links">
            <a href="https://www.baidu.com" class="link" target="_blank">百度</a>
            <a href="https://www.zhihu.com" class="link" target="_blank">知乎</a>
            <a href="https://https://juejin.im/" class="link" target="_black">掘金</a>
        </div>
        <p class="copyright">Copyright © 2017-2018
            <a href="#" class="link">ztmall.cc</a> ALL Right Reserved</p>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.js"></script>
